# IntelliJ IDEA
.idea/
*.iml

# Maven build
target/

# IntelliJ / Java build output
out/
*.class

# Logok
*.log

# OS fájlok
.DS_Store
Thumbs.db

# Környezeti változók / titkok
.env

# Claude Code
CLAUDE.md

